# General environment variables
TZ=Europe/Madrid
PUID=1000
PGID=1000
MEDIA_SOURCE_TV="/mnt/ssd_data/samba/Videos/TVShows"
MEDIA_SOURCE_MOVIES="/mnt/ssd_data/samba/Videos/Movies"

# Homepage environment variables
HOMEPAGE_ALLOWED_HOSTS=homepage.some-domain.com,myserver.example.local,192.168.0.9

# Samba environment variables
SAMBA_USERID=1000
SAMBA_GROUPID=1000
SAMBA_ADMIN_USER=someuser
SAMBA_ADMIN_PASSWORD=somepasswd
SAMBA_SHARE_1="Share1;/mnt/share1;yes;no;no;someuser"
SAMBA_SHARE_2="Share2;/mnt/share2;yes;no;no;someuser"

# Pihole environment variables
PIHOLE_WEBPASSWORD=somepasswd
PIHOLE_DNSMASQ_LISTENING=all
PIHOLE_API_KEY=some_api_key
PIHOLE_FTLCONF_webserver_port='8082o,8443os'

# Jellyfin environment variables example, http://jellyfin.example.local
JELLYFIN_PUBLISHED_SERVER_URL=http://jellyfin.example.local

# Plex environment variables
PLEX_PUID=1000
PLEX_PGID=1000
PLEX_VERSION=docker
PLEX_CLAIM=claim-personal-code

# Jackett environment variables
JACKETT_PUID=1000
JACKETT_PGID=1000
JACKETT_AUTO_UPDATE=true
JACKETT_RUN_OPTS=

# Sonarr environment variables
SONARR_PUID=1000
SONARR_PGID=1000

# Radarr environment variables
RADARR_PUID=1000
RADARR_PGID=1000

# Transmission-OpenVPN environment variables
TRANSMISSION_OPENVPN_PROVIDER=PIA
TRANSMISSION_OPENVPN_CONFIG=de_berlin
TRANSMISSION_OPENVPN_USERNAME=piausername
TRANSMISSION_OPENVPN_PASSWORD=piapassword
TRANSMISSION_LOCAL_NETWORK=192.168.0.0/16
TORRENTS_DOWNLOAD_DIR="/mnt/ssd_data/torrent"

# Nginx Proxy environment variables


# Overseerr environment variables
OVERSEERR_LOG_LEVEL=debug
OVERSEERR_PORT=5055

# Twingate environment variables
TWINGATE_NETWORK=twingateusername
TWINGATE_ACCESS_TOKEN=access-token
TWINGATE_REFRESH_TOKEN=refresh-token